.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 30em;
    height: 10em;
    align-items: center;
}

.button {
    font-size: 1em;
    height: 30px;
    width: 10rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
    border-style: none;
    text-align: center;
}

.button:hover {
    scale: 1.10;
}

.message {
    color: var(--text-color);
    font-weight: bold;
}

.playerNameContainer,
.roundsContainer {
    align-self: stretch;
    height: 2rem;
}

.playerNameInput,
.roundSelection {
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-style: none;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px 0 5px 5px;
    background-color: white;
    color: var(--text-color);
}

