.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.title{
  color: var(--text-color);
  text-align: center;
  margin-bottom: 50px;
  /* text-shadow: 5px 5px 5px black; */
}

.formBackground{
  background-color: var(--primary-color);
  padding: 2em 2em;
  border-radius: 20px;
}

.playerInput{
  /* padding-left: 50px; */
}